<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" >News 24/7</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto mb-4 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="general">General</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="entertainment">Entertainment</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="business">Business</a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link" routerLink="health">Health</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="sports">sports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="technology">Technology</a>
        </li> -->
        </ul>
        
    </div>
     </div>
    
</nav>

<router-outlet> </router-outlet>